* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px / 1.3 'Helvetica Neue', Helvetica, 'PingFang SC', "Microsoft YaHei", SimSun, sans-serif;
}

button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6,
address, em, i, b,
caption, th {
  font-weight: normal;
}

em {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button, input, select, textarea {
  outline: 0;
}

button, img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: url(../images/body.jpg) no-repeat;
}

.loading {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loading-bd {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.loading-en,
.loading-cn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130px;
  background: url(../images/logo-en.png) no-repeat center;
  background-size: contain;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.loading-cn {
  background-image: url(../images/logo-cn.png);
  opacity: 0;
}

.loading-toggle .loading-en {
  opacity: 0;
}
.loading-toggle .loading-cn {
  opacity: 1;
}

.loading-progress {
  position: relative;
  width: 530px;
  margin: 180px auto 0 auto;
  border-radius: 100px;
  background: #d2d2d2;
}
.loading-progress span {
  display: block;
  height: 14px;
  border-radius: 100px;
  background: #c9151e;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@-webkit-keyframes pin {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pin {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.island {
  position: absolute;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.island.selected {
  margin-top: -50px;
}
.island.selected span {
  z-index: 50;
  -webkit-animation-name: pin;
          animation-name: pin;
}
.island span {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 33px;
  height: 44px;
  margin-left: -16px;
  padding-top: 5px;
  background: url(../images/pin.png) no-repeat;
  font-size: 14px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -webkit-animation: 0.5s infinite alternate linear;
          animation: 0.5s infinite alternate linear;
}

.island-1 {
  width: 398px;
  height: 603px;
  left: 0px;
  top: 402px;
  background-image: url(../images/1.png);
}
.island-1 span {
  top: 70px;
}

.island-2 {
  width: 358px;
  height: 503px;
  left: 124px;
  top: 580px;
  background-image: url(../images/2.png);
}
.island-2 span {
  top: 100px;
}

.island-3 {
  width: 298px;
  height: 574px;
  left: 238px;
  top: 438px;
  background-image: url(../images/3.png);
}
.island-3 span {
  top: 55px;
}

.island-4 {
  width: 443px;
  height: 633px;
  left: 366px;
  top: 448px;
  background-image: url(../images/4.png);
}
.island-4 span {
  top: 100px;
}

.island-5 {
  width: 454px;
  height: 561px;
  left: 602px;
  top: 520px;
  background-image: url(../images/5.png);
}
.island-5 span {
  top: 25px;
}

.island-6 {
  width: 867px;
  height: 645px;
  left: 983px;
  top: 434px;
  background-image: url(../images/6.png);
}
.island-6 span {
  top: 70px;
}

.island-7 {
  width: 328px;
  height: 504px;
  left: 716px;
  top: 456px;
  background-image: url(../images/7.png);
}

.island-8 {
  width: 564px;
  height: 565px;
  left: 418px;
  top: 394px;
  background-image: url(../images/8.png);
}
.island-8 span {
  top: 0;
}

.island-9 {
  width: 271px;
  height: 505px;
  left: 608px;
  top: 324px;
  background-image: url(../images/9.png);
}
.island-9 span {
  top: 0;
}

.island-10 {
  width: 475px;
  height: 634px;
  left: 848px;
  top: 328px;
  background-image: url(../images/10.png);
}
.island-10 span {
  top: 50px;
}

.island-11 {
  width: 454px;
  height: 622px;
  left: 974px;
  top: 234px;
  background-image: url(../images/11.png);
}
.island-11 span {
  top: 50px;
}

.island-12 {
  width: 456px;
  height: 557px;
  left: 590px;
  top: 256px;
  background-image: url(../images/12.png);
}

.island-13 {
  width: 230px;
  height: 239px;
  left: 1405px;
  top: 250px;
  background-image: url(../images/13.png);
}

.island-14 {
  width: 193px;
  height: 251px;
  left: 1530px;
  top: 244px;
  background-image: url(../images/14.png);
}
.island-14 span {
  top: 0;
}

.island-fix {
  position: absolute;
  background-repeat: no-repeat;
  pointer-events: none;
}

.island-fix-1 {
  left: 606px;
  top: 316px;
  width: 107px;
  height: 86px;
  background-image: url(../images/fix1.png);
}

.island-fix-2 {
  left: 832px;
  top: 382px;
  width: 243px;
  height: 129px;
  background-image: url(../images/fix2.png);
}

.island-fix-3 {
  left: 428px;
  top: 444px;
  width: 88px;
  height: 61px;
  background-image: url(../images/fix3.png);
}

.island-fix-4 {
  left: 346px;
  top: 768px;
  width: 25px;
  height: 35px;
  background-image: url(../images/fix4.png);
}

.island-fix-5 {
  left: 156px;
  top: 206px;
  width: 1698px;
  height: 876px;
  background-image: url(../images/fix5.png);
}

svg {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

polygon {
  pointer-events: auto;
  fill-opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
._debug polygon {
  fill-opacity: 0.5;
  fill: #ff0;
}
polygon.selected {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@-webkit-keyframes cloud1 {
  from {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes cloud1 {
  from {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  to {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}
@-webkit-keyframes cloud2 {
  from {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@keyframes cloud2 {
  from {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  to {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}
.cloud {
  position: absolute;
  z-index: 20;
  left: -100px;
  top: 0;
  width: 130%;
  height: 100%;
  background: no-repeat;
  pointer-events: none;
  -webkit-animation: 5s infinite alternate linear;
          animation: 5s infinite alternate linear;
}

.cloud-top {
  background-image: url(../images/cloud-top.png);
  background-position: 0 0;
  -webkit-animation-name: cloud1;
          animation-name: cloud1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.cloud-bottom-left {
  background-image: url(../images/cloud-bottom-left.png);
  background-position: left bottom;
  -webkit-animation-name: cloud1;
          animation-name: cloud1;
}

.cloud-bottom-right {
  background-image: url(../images/cloud-bottom-right.png);
  background-position: right bottom;
  -webkit-animation-name: cloud2;
          animation-name: cloud2;
}

.footer {
  position: absolute;
  z-index: 50;
  left: 0;
  bottom: 25px;
  width: 100%;
  text-align: center;
}

.footer-logo {
  margin-bottom: 15px;
  height: 180px;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
}

.progress {
  display: inline-block;
  position: relative;
  padding-left: 70px;
}
.progress:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 60px;
  height: 50px;
  margin-top: -25px;
  background: url(../images/warn.png) no-repeat;
}

.progress-hd {
  margin-bottom: 5px;
  color: #231815;
}

.progress-bd {
  margin: 0 auto;
  width: 650px;
  border: 2px solid #231815;
  background: #000;
}
.progress-bd, .progress-bd span {
  border-radius: 100px;
}
.progress-bd span {
  display: block;
  height: 20px;
  background: #fbdd0c url(../images/progress.png) repeat-x;
}

.nav {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  width: 168px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.nav.selected {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-hd {
  position: absolute;
  left: -37px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 37px;
  padding: 30px 0;
  border-radius: 8px 0 0 8px;
  background: #982421;
  font-size: 20px;
  cursor: pointer;
}

.nav-bd {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav-bd li {
  line-height: 35px;
  font-size: 18px;
  cursor: pointer;
}
.nav-bd li + li {
  margin-top: 5px;
}
.nav-bd li:hover {
  background: #982421;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-inner {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 800px;
  height: 550px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.popup-inner img {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.popup-close {
  position: absolute;
  top: -60px;
  right: 0;
  width: 46px;
  height: 46px;
  background: rgba(147, 31, 28, 0.6) url(../images/close.png) no-repeat center center;
}

.popup-bd {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  border: 8px solid #fff;
}
.popup-bd img {
  height: 100%;
  vertical-align: middle;
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 38px;
  height: 105px;
  font-size: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(147, 31, 28, 0.6) no-repeat center center;
  cursor: pointer;
}

.slick-disabled {
  display: none !important;
}

.slick-prev {
  left: 0;
  background-image: url(../images/prev.png);
}

.slick-next {
  right: 0;
  background-image: url(../images/next.png);
}

.popup-ft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  margin-bottom: -10px;
  background: rgba(147, 31, 28, 0.6);
  color: #fff;
  text-align: center;
  padding: 8px;
}
.popup-ft li + li {
  margin-top: 10px;
}
.popup-ft h3 {
  margin-bottom: 5px;
  font-size: 20px;
}
.popup-ft p {
  line-height: 1.5;
  white-space: pre-line;
}

@media (max-width: 1599px) {
  .wrap {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
            transform: translateX(-50%) translateY(-50%) scale(0.6);
  }

  .popup-inner {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}
@media (min-width: 1600px) and (max-width: 1899px) {
  .wrap {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
}
@media (min-width: 1600px) {
  .footer {
    bottom: 90px;
  }

  .footer-logo {
    height: 150px;
  }
}
